
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family:'Poppins' ,sans-serif ;
}
/* ===============common============= */
:root{
    --font-heading:"Sen", sans-serif;
    
}
a{
    text-decoration: none;
}
/* ==================header=============== */
.header{
    z-index: 1;
    position: sticky;
    top: 0px;
}
.header__menu{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #504B38;
    padding: 10px;
}

.menu-logo__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
}
.menu-bar{
display: flex;
gap: 50px;
margin-right: 100px;
}
.menu-bar__link{
    font-weight: 400;
    color: #fff;
}
.menu-bar__link::after{
    content: " ";
    color: #fff;
    border: 1px solid ;
    margin-left: 5px;
}
.menu-bar__link:hover{
    opacity: 0.9;
}
.header__post{
    
    height:100vh;
    object-fit: cover;
    background-image: url(../img/banner.webp) ;
    background-position-x:center ;
    background-position-y:center ;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    margin-left: 0;
    margin-right: 0;
}